<section class="bg-white pt-20 text-base-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-24">
    <div class="text-center mb-16">

      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900 lg:text-balance">
        How It Works
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        A simple three-step journey to help you quickly build backlinks.
      </p>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative gap-5 lg:gap-10 max-lg:divide-y lg:divide-x divide-blue-400 divide-dashed">
      <div class="relative z-10 bg-white text-center md:text-left pt-6 md:pe-10 lg:py-0 pb-10 last:pb-0 last:pe-0">
        <div
          class="w-10 h-10 rounded-full bg-blue-100 text-blue-700 font-bold flex items-center justify-center mx-auto md:mx-0 mb-4">
          1
        </div>
        <h3 class="text-xl font-semibold mb-2">Create Your Account</h3>
        <p class="text-base text-base-600">
          Sign up with your Google account.
        </p>
      </div>

      <div class="relative z-10 bg-white text-center md:text-left pt-6 md:pe-10 lg:py-0 pb-10 last:pb-0 last:pe-0">
        <div
          class="w-10 h-10 rounded-full bg-blue-100 text-blue-700 font-bold flex items-center justify-center mx-auto md:mx-0 mb-4">
          2
        </div>
        <h3 class="text-xl font-semibold mb-2">Choose the tools you need</h3>
        <p class="text-base text-base-600">
          Select the tool you need, enter the website to be researched, and click Query.
        </p>
      </div>

      <div class="relative z-10 bg-white text-center md:text-left pt-6 md:pe-10 lg:py-0 pb-10 last:pb-0 last:pe-0">
        <div
          class="w-10 h-10 rounded-full bg-blue-100 text-blue-700 font-bold flex items-center justify-center mx-auto md:mx-0 mb-4">
          3
        </div>
        <h3 class="text-xl font-semibold mb-2">View & Export</h3>
        <p class="text-base text-base-600">
          GView data query results, export as csv or json, perform your data analysis.
        </p>
      </div>
    </div>
  </div>
</section>
