---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
---

<section id="section-four">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="lg:order-last">

        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900">
          Website DR Checker
        </h2>
        <p class="text-base leading-normal mt-4 text-base-500 font-medium">
          Checking the website's Domain Rating (DR) to understand the competition difficulty.
        </p>
        <div class="flex flex-wrap items-center gap-2 mx-auto mt-12">
          <a
            href="/dr-checker"
            class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-white bg-accent-600 hover:bg-accent-700 focus:ring-accent-500/50 h-9 px-4 py-2 text-sm font-medium rounded-md">
            Get started
          </a>

        </div>
      </div>
      <div class="lg:col-span-2">
        <div class="p-5 bg-accent-50 rounded-2xl">
          <OptimizedImage
            src="/dashboard.png"
            alt="#_"
            width={900}
            height={500}
            loading={"eager"}
            fetchpriority="high"
            class="relative w-full ring-4 ring-base-50 border border-base-200 lg:rounded-2xl object-cover rounded"
          />
        </div>
      </div>
    </div>
    <div
      class="gap-x-2 gap-y-14 mt-12 lg:gap-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      <div>
        <div>
          <h3
            class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
            Batch checker
          </h3>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Supports DR check for over 500 websites.
          </p>
        </div>

      </div>
      <div>
        <div>
          <h3
            class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
            Quick View
          </h3>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Quickly understand the website's DR data to determine the competition level.
          </p>
        </div>

      </div>
      <div>
        <div>
          <h3
            class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
            Quick Export
          </h3>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Export results quickly in CSV or JSON format.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
