<section id="features">
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-2xl mx-auto lg:text-balance">

      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900 lg:text-balance">
        Product advantages
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        Analyze your competitors' websites quickly and for free to understand their backlinks, Domain Rating (DR), and website traffic.
      </p>
    </div>

    <div
      class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl">
      <div class="grid justify-between w-full">
        <div
          class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r">
        </div>
        <div
          class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l">
        </div>
      </div>

    </div>
    <div
      class="grid grid-cols-2 text-center gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16">
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
            <path d="M8 11a5 5 0 1 0 3.998 1.997"></path>
            <path d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Fast query
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Instantly See the results of every query you make.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wave-square size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 12h5v8h4v-16h4v8h5"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Batch query
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Up to 500 queries can be supported at a time.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5"></path>
            <path d="M3 16h18"></path>
            <path d="M18 13l3 3l-3 3"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Result export
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            The query results will be exported in csv and json format.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Free quota
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Configure a certain free quota for tourist users.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
