---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
import { Font } from "astro:assets";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead title={title} description={description} />
    <Font cssVariable="--font-sans" preload />
  </head>
  <body class="bg-white flex flex-col min-h-svh">
    <Navigation />
    <main class="grow"><slot /></main>
    <Footer />
    
    <!-- Alpine.js from CDN -->
    <script is:inline defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>
