---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
---

<header
  class="border-b border-black/5 sticky top-0 z-50 bg-white/40 backdrop-blur-2xl">
  <div class="w-full mx-auto px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto lg:items-center lg:justify-between lg:flex-row lg:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="text-black inline-flex items-center gap-3">
          <OptimizedImage width={40} src="/logo.svg" alt="logo" />
          <span class="font-bold">Syntro</span>
        </a>
        <button
          @click="open = !open"
          :aria-expanded="open.toString()"
          aria-controls="main-navigation"
          aria-label="Toggle navigation menu"
          class="inline-flex items-center justify-center p-2 text-base-400 hover:text-black focus:outline-none focus:text-black lg:hidden">
          <svg
            :class="{'rotate-90': open}"
            class="w-6 h-6 transition-transform duration-300 ease-in-out"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24">
            <path
              x-show="!open"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16">
            </path>
            <path
              x-show="open"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12">
            </path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'h-auto': open, 'h-0': !open}"
        id="main-navigation"
        class="flex-col items-center flex-grow gap-4 lg:gap-8 flex overflow-hidden lg:pb-0 lg:flex lg:justify-end lg:h-auto lg:flex-row">
        <a
          class="text-sm text-black transition duration-300 hover:text-blue-600 lg:ml-auto"
          href="/#features">
          Features
        </a>
        <a
          href="/"
          class="text-sm text-black transition duration-300 hover:text-blue-600 relative">
          Updates
          <span
            class="bg-red-600 ms-1 text-white text-[10px] px-2 py-1 rounded-full">
            NEW
          </span>
        </a>
        <a
          href="/"
          class="text-sm text-black transition duration-300 hover:text-blue-600 relative">
          Changelog
          <sup
            class="ml-1 inline-block mt-1 w-1.5 h-1.5 bg-green-500 rounded-full">
          </sup>
        </a>

        <a
          href="/faq"
          class="text-sm text-black transition duration-300 hover:text-blue-600 relative">
          Faq
        </a>

        <div class="inline-flex items-center gap-2 list-none py-px lg:ml-auto">
          <a
            href="/signup"
            class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-base-500 bg-white hover:text-accent-600 ring-1 ring-base-200 focus:bg-accent-100 h-8 px-4 py-2 text-xs font-medium rounded-md hover:bg-accent-100">
            Sign up
          </a>
          <a
            href="/login"
            class="flex items-center justify-center transition-all duration-200 ring-1 focus:ring-2 ring-accent-700 focus:outline-none text-base-50 bg-accent-600 hover:bg-accent-700 focus:ring-base-500/50 h-8 px-4 py-2 text-xs font-medium rounded-md">
            Log in
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
